<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @documentation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @documentation.description %>
</p>

<%= link_to 'Edit', edit_documentation_path(@documentation) %> |
<%= link_to 'Back', documentations_path %>
